#app{
  height: 600px;
  width: 600px;
  user-select: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  display: flex;
  padding: 3%;
  position: relative;
  flex-direction: column;
}