#app{
  height: 600px;
  width: 630px;
  user-select: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  display: flex;
  padding: 2% 2% 3.5% 2%;
  position: relative;
  flex-direction: column;
}

@media screen and (max-width: 690px) {
  #app{
    height: 600px;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  #app{
    height: 600px;
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  #app{
    height: 600px;
    width: 345px;
    margin-left: -2%;
    border-radius: 0px;
  }
}